*{
    margin: 0;
    padding: 0;
}
header{
    height: 150px;
    width: 100%;
    background-color: aquamarine;
}
h1{
    text-align: center;
}
p{
    color: blueviolet;
    padding: 20px;
}
main{
    height: 500px;
    width: 100%;
    background-color: darkgreen;
}
h2{
    color: blue;
    text-align: center;
}